 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }



    
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* Share Styles */

.dark1{
    color: #252432;
}

.dark2 {
    color: #8987A1;
}

.origen3 {
    color: #E95A08;
}

.dark4 {
    color: rgba(0, 0, 0, 0.5);
}

/* Navbar styles */

.home-tap{
    font-weight: bold;
}

.logo-image {
    width: 135px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
}

.cart-image {
    width: 30px;
}

.navbar a {
    text-decoration: none;
    padding: 15px;
}

/* Banner Styles */

.mainbar{
    margin: 250px;
    margin-left: 150px;
    margin-right: 150px;
}

.banner-section {
    display: flex;
    
}

.banner-font {
    font-size: 80px;
}

.paragraph-section {
     font-family: "Inter", sans-serif;
     font-size: 22px;
    /* font-size: xx-large; */
    margin-top: 13px;
}


/* Our plants styles */

/* item part */

.item-part{
    padding: 40px 60px;
    text-align: center;
}
.item-h{
 font-size: 50px;
 font-weight: bold;   
}
.item-h span{
    color: #E95A08;
}
.item-text{
    padding: 20px 5px;
}
.item-text p{
    color: #8987A1;
}
.item-container{
    padding-left: 60px;
    padding-right: 60px;
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    
}
.item-card{
   padding: 10px 10px;
   padding-bottom: 50px;
   object-fit: cover;
}
.item-card-img{
    width: 100%; 

}
.item-card-img img{
    width: 100%;
    height: auto;
}
.item-card-content{
    text-align: center;
}
.item-card-content h6{
font-weight: bold;
}
.item-card-content button{
    background-color: #E95A08;
    color: white;
    padding: 5px 40px;
    margin-top: 5px;
    border: none;
    cursor: pointer;
    font-weight:500;
    font-size:10px ;
  
}
.item-card-content button:hover{
    color: #000000;
    background-color: rgb(11, 214, 228);
}










/* 
.banner-container{
    width: 570px;
    font-weight: 800;
}

.banner {
    display: flex;
    margin-top: 225px;
    margin-left: 150px;
    margin-right: 150px;
}

.banner-image{
    max-width: 500px;
      height: auto;
} */




/* Responce Styles */

/* @media screen and (width:576px){

.banner-image {
    
}
    
} */