 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }



    
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* Share Styles */

.dark1{
    color: #252432;
}

.dark2 {
    color: #8987A1;
}

.origen3 {
    color: #E95A08;
}

.dark4 {
    color: rgba(0, 0, 0, 0.5);
}

/* Navbar styles */


.home-tap{
    font-weight: bold;
}


.logo-image {
    width: 135px;
}

.cart-tap{
    color: #000000;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
}

.cart-image {
    width: 30px;
}

.navbar a {
    text-decoration: none;
    padding: 15px;
}

/* Banner Styles */

.mainbar{
    margin: 250px;
    margin-left: 150px;
    margin-right: 150px;
}

.banner-section {
    display: flex;
    
}

.banner-font {
    font-size: 80px;
}

.paragraph-section {
     font-family: "Inter", sans-serif;
     font-size: 22px;
    /* font-size: xx-large; */
    margin-top: 13px;
}


/* Our plants styles */

/* item part */

.item-part{
    padding: 40px 60px;
    text-align: center;
}
.item-h{
 font-size: 50px;
 font-weight: bold;   
}
.item-h span{
    color: #E95A08;
}
.item-text{
    padding: 20px 5px;
}
.item-text p{
    color: #8987A1;
}
.item-container{
    padding-left: 60px;
    padding-right: 60px;
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    
}
.item-card{
   padding: 10px 10px;
   padding-bottom: 50px;
   object-fit: cover;
}
.item-card-img{
    width: 100%; 

}
.item-card-img img{
    width: 100%;
    height: auto;
}
.item-card-content{
    text-align: center;
}
.item-card-content h6{
font-weight: bold;
}
.item-card-content button{
    background-color: #E95A08;
    color: white;
    padding: 5px 40px;
    margin-top: 5px;
    border: none;
    cursor: pointer;
    font-weight:500;
    font-size:10px ;
  
}
.item-card-content button:hover{
    color: #000000;
    background-color: rgb(11, 214, 228);
}

/* blog */

.blog{
    padding: 60px 60px;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-content{
    display: flex;
    flex-direction: column;
    padding: 30px 60px ;
}
.blog-content h3{
    font-weight:bold;
    font-size: 55px;
    padding-bottom: 30px;
}
.blog-content li{
    color: #8987A1;
    padding-bottom: 10px;
    column-gap: 10px;
}



.blog-img{
    position: relative;
    width: 100%;
    min-width: 300px;;
    max-width: 570px;
    height: auto;
    object-fit: cover;
    box-sizing: border-box;
}
.blog-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.blog-badge{
    position: absolute;
       top: -90px;
       right: -100px;
       width:250px;
       height: auto;
       z-index: 10;
       display: block;
    }
.blog-badge img{
    width: 100%;
    height: auto;
   
}
 /* extra */

 .extra-content{
    text-align: center;
    padding: 40px 60px;

 }
.extra-content h3{
    font-weight:bold;
    font-size: 55px;
    padding-bottom: 30px;
}
.extra-content h3 span{
    color: #E95A08;
}
.extra-content p{
    color: #8987A1;
    padding-bottom: 50px;;
}
.extra-card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    grid-template-rows: auto auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
#box1{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    max-width:500px;
    height: 101px; 
    border-radius: 20px;
    background-color: #8987A1;
   
}

#box2{
grid-column: 2;
grid-row: span 2;
width: 100%;
max-width:500px;
height: 223.12px;
 border-radius: 20px;
 background-image: url(assets/deal-zabo.png);
}
#box3{
    width: 100%;
    max-width:500px;
    height: 101px;
    border-radius: 20px;
    background-image: url(assets/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#box1 h4 ,a{
    color: white;
    text-align: center;
    font-size: 16px;
    padding-top:40px ;
}
#box2 h4 ,a{
    color: white;
    text-align: center;
    font-size: 16px;
    padding-top:90px ;
}
#box3 h4 ,a{
    color: white;
    text-align: center;
    font-size: 16px;
    padding-top:40px ;
}
